$main-color: #08A0FF;
$main-two:rgb(15, 134, 173);
$gradient-background:linear-gradient(45deg, $main-color 0%, $main-two 150%);
$big-hair:#e18484;
$food-plate:#8f84e1;
$sausage-color:#611717;
$rock-area:#27ad99;
$ballon-area:#f90505;
$disc-area:#ff7d26;